<!-- Footer -->
<footer class="text-center py-3 mt-4 flex justify-between items-center px-4">
    <div class="flex space-x-6 my-3">
        <a href="https://github.com/gingantic" aria-label="Github" target="_blank" class="rounded-full p-3 bg-gray-300 hover:bg-gray-400">
            <i class="fab fa-github fa-xl"></i>
        </a>
        <a href="https://t.me/gingantic" aria-label="Telegram" target="_blank" class="rounded-full p-3 bg-gray-300 hover:bg-gray-400">
            <i class="fab fa-telegram-plane fa-xl"></i>
        </a>
        <a href="https://linkedin.com/in/reihan-aditya" aria-label="Linkedin" target="_blank" class="rounded-full p-3 bg-gray-300 hover:bg-gray-400">
            <i class="fab fa-linkedin-in fa-xl"></i>
        </a>
    </div>
    <p class="m-0">Copyright &copy; 2025 Gingantic. All Rights Reserved</p>
</footer>
