{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} 403 Forbidden {% endblock %}

{% block content %}
<!-- Main Content -->
<main class="my-1">
    <div class="container rounded-container shadow p-4">
        <h2 class="text-center mb-3">403 Forbidden</h2>
        <div class="text-center row my-4">
            <div class="col-md-6 offset-md-3">
                <p>You do not have permission to access this page.</p>
                {% if exception  %}
                    {{ exception }}
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}