{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} 500 Internal Server Error {% endblock %}

{% block content %}
<!-- Main Content -->
<main class="my-1">
    <div class="container rounded-container shadow p-4">
        <h2 class="text-center mb-3">500 Internal Server Error</h2>
        <div class="text-center row my-4">
            <div class="col-md-6 offset-md-3">
                <p>Something went wrong on our end. Please try again later.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}