{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} About {% endblock %}

{% block content %}
<!-- Main Content -->
<main class="my-1">
    <div class="container rounded-container shadow p-4">
        <h2 class="mb-3">About</h2>
        <p>
            Pastein is a simple pastebin service that allows you to store and share text online up to 1MB. It is a free service
            that allows you to create a new paste, view existing pastes, and delete pastes. You can also set a title
            and password for your paste.
        </p>
        <p>
            Pastein is built using Django, a high-level Python web framework that encourages rapid development and
            clean, pragmatic design. The front-end is built using Bootstrap, a popular CSS framework for developing
            responsive and mobile-first websites.
        </p>
        <p>
            The source code for Pastein is available on GitHub. You can view the <a href="https://github.com/gingantic/Pastein">source code</a>, contribute to the project,
            and report issues on the GitHub repository.
        </p>
        <p>
            If you have any questions, feedback, or suggestions, feel free to contact me on github or sosial below. 
            I appreciate your feedback.
        </p>
        <p>
            Thank you for using Pastein! We hope you find it useful for storing and sharing text online.
        </p>
        <p>
            Basicly, Pastebin clone for practice. 
        </p>
    </div>
</main>
{% endblock %}