{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Password {% endblock %}

{% block content %}
<!-- Main Content -->
<main class="my-1">
    <div class="container rounded-container shadow p-4">
        <h2 class="text-center mb-3">Password</h2>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}

        <p>Please enter the password to view the paste:</p>
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</main>
{% endblock %}