{% extends 'layouts/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Password Change {% endblock %}

{% block content %}
<!-- Main Content -->
<main class="my-1">
    <div class="container rounded-container shadow p-4">
        <h2 class="mb-3">Password Change</h2>
        
        {% if form.errors %}
            {% for _, errors in form.errors.items %}
                {% for error in errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error }}
                </div>
                {% endfor %} 
            {% endfor %}
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3 row">
                <label for="id_old_password" class="col-sm-4 col-form-label">Old Password</label>
                <div class="col-sm-8">
                    {{ form.old_password|add_class:"form-control" }}
                </div>
            </div>
            <div class="mb-3 row">
                <label for="id_new_password1" class="col-sm-4 col-form-label">New Password</label>
                <div class="col-sm-8">
                    {{ form.new_password1|add_class:"form-control" }}
                    <div class="form-text text-muted pt-1">{{ form.new_password1.help_text }}</div>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="id_new_password2" class="col-sm-4 col-form-label">Confirm Password</label>
                <div class="col-sm-8">
                    {{ form.new_password2|add_class:"form-control" }}
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-8 offset-sm-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}