{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %} {{ user }} paste {% endblock %}

{% block content %}
<!-- Main Content -->
<main class="my-1">
    <div class="container rounded-container shadow p-4">
        <div class="d-flex align-items-center mb-3">
            <img src="{{ user.get_profile_picture_url }}" alt="Profile Picture" class="profile-picture img-thumbnail">
            <div class="d-flex flex-column ms-1">
                <div class="info-top">
                    <h3>{{ user }} paste</h3>
                </div>
                <div class="info-bottom d-flex flex-row">
                    <div class="created-at me-3"><i class="fas fa-calendar-days me-2"></i>{{ user.date_joined }}</div>
                </div>
            </div>
        </div>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Created</th>
                    <th scope="col">Expire</th>
                    <th scope="col">Hits / Views</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if not pastes %}
                <tr>
                    <td colspan="5" class="text-center">No pastes found</td>
                </tr>
                {% endif %}
                {% for paste in pastes %}
                <tr>
                    <td>
                        <div class="justify-content-center" style="width: 20px; display: inline-block;">
                            {% if paste.exposure == 'public' %}
                            <i class="fa-solid fa-earth-americas"></i>
                            {% elif paste.exposure == 'unlisted' %}
                            <i class="fa-solid fa-link"></i>
                            {% else %}
                            <i class="fa-solid fa-lock"></i>
                            {% endif %}
                        </div>
                        <a href="{% url 'view' paste.url %}">
                            {% if paste.title %}
                            {{ paste.title }}
                            {% else %}
                            {{ "Untitled" }}
                            {% endif %}
                        </a>
                    </td>
                    <td>{{ paste.created_at }}</td>
                    {% if paste.expires_at %}
                        <td>{{ paste.expires_at | time_until }}</td>
                    {% else %}
                        <td>Never</td>
                    {% endif %}
                    <td>{{ paste.hits }}</td>
                    <td>
                    {% if is_owner %}
                        <a href="{% url 'delete' paste.url %}" class="btn btn-danger btn-sm mx-1"><i class="fas fa-trash"></i></a>
                        <a href="{% url 'edit' paste.url %}" class="btn btn-primary btn-sm mx-1"><i class="fas fa-edit"></i></a>  
                    {% endif %}
                    <a href="{% url 'clone' paste.url %}" class="btn btn-secondary btn-sm mx-1"><i class="fas fa-clone"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}