/* === GENERAL STYLES === */
.rounded-container {
    background-color: #fefefa;
    border-radius: 5px;
    padding: 20px;
}

[data-bs-theme="dark"] .rounded-container {
    background-color: #1e2125;
}

a {
    text-decoration: none;
}

/* === HEADER STYLES === */
header .btn {
    --bs-btn-padding-y: .35rem; 
    --bs-btn-padding-x: .5rem; 
    --bs-btn-font-size: .85rem;
    --bs-btn-border-radius: 3px;
}

header .btn:hover {
    background-color: #e0e0e0;
}

[data-bs-theme="dark"] header .btn:hover {
    background-color: #7c7c7c;
}

/* === DROPDOWN STYLES === */
.dropdown-user.dropdown-toggle::after {
    display: none; /* Hides the dropdown arrow */
}

/* === AVATAR STYLES === */
.header-avatar {
    width: 30px;
    height: 30px;
}

.profile-picture {
    width: 85px;
    height: 85px;
    display: block;
    margin: 0.25rem 0.5rem 0.25rem 0.25rem;
}

/* === CODE CONTAINER STYLES === */
.pastein-container {
    border: 1px solid #ccc;
    font-family: monospace;
    font-size: 14px;
    border-radius: 4px;
    overflow: hidden;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.pastein-header {
    display: flex;
    justify-content: flex-end;
    background-color: #f5f5f5;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.pastein-header .btn {
    --bs-btn-padding-y: .1rem; 
    --bs-btn-padding-x: .5rem; 
    --bs-btn-font-size: .75rem;
}

.pastein-body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
    position: relative;
}

[data-bs-theme="dark"] .pastein-body {
    background-color: #333333;
}

.pastein-body code {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    line-height: 1.5;
    white-space: pre;
    width: max-content;
}

.pastein-body pre {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    width: 100%;
}

/* === PRISM.JS OVERRIDES === */
.pastein-body code[class*="language-"] {
    background: #fff !important;
}

[data-bs-theme="dark"] .pastein-body code[class*="language-"] {
    background: #333333 !important; 
}

/* === LINE NUMBER STYLES FOR CONTENT === */
.line-pair {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: start;
    position: relative;
}

.line-number {
    background-color: #eeecec;
    height: 100%;
    text-align: right;
    padding: 0 10px;
    user-select: none;
    position: sticky;
    left: 0;
    z-index: 1;
    width: 60px;
}

[data-bs-theme="dark"] .line-number {
    background-color: #444444;
    color: #cccccc;
}

.line-content {
    padding-left: 4px;
    white-space: pre;
    width: max-content;
}

.text-line {
    min-height: 1.2em;
}

/* === TEXT STYLES === */
.info-top {
    font-size: 1.5rem;
    font-weight: 600;
}

.divider {
    border-top: 1px solid #ddd;
    margin: 0.5rem auto;
}

/* === FLEX CONTAINER STYLES === */
.overflow-scroll-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.actions {
    min-width: 400px;
    display: flex;
}

.details {
    display: flex;
    min-width: fit-content;
    gap: 0.5rem;
    align-items: center;
    margin-right: 2rem;
    white-space: nowrap;
}

.details > div {
    display: inline-block;
}

/* === THEME SWITCHER === */
.dark-mode-toggle {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

/* === DARK MODE STYLES === */
[data-bs-theme="dark"] .pastein-container {
    background-color: #333333;
    color: #ffffff;
}

[data-bs-theme="dark"] .pastein-header {
    background-color: #444444;
    border-bottom: 1px solid #555555;
}

[data-bs-theme="dark"] .text-content {
    background-color: #333333;
    color: #ffffff;
}
